::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

body {
   background-color: #fff;
   margin: 40px;
   font: 14px/20px normal Helvetica, Arial, sans-serif;
   color: #4F5155;
}

a {
   color: #003399;
   background-color: transparent;
   font-weight: normal;
}

h1 {
   color: #444;
   background-color: transparent;
   border-bottom: 1px solid #D0D0D0;
   font-size: 30px;
   font-weight: normal;
   margin: 0 0 14px 0;
   padding: 14px 15px 10px 15px;
}

code {
   font-family: Consolas, Monaco, Courier New, Courier, monospace;
   font-size: 12px;
   background-color: #f9f9f9;
   border: 1px solid #D0D0D0;
   color: #002166;
   display: block;
   margin: 14px 0 14px 0;
   padding: 12px 10px 12px 10px;
}

#body {
   margin: 0 15px 0 15px;
}

p.footer {
   text-align: right;
   font-size: 11px;
   border-top: 1px solid #D0D0D0;
   line-height: 32px;
   padding: 0 10px 0 10px;
   margin: 20px 0 0 0;
}

#container {
   margin: 10px;
   border: 1px solid #D0D0D0;
   box-shadow: 0 0 8px #D0D0D0;
}

#login_form {
   width: 300px;
	background: #f0f0f0;
	border: 1px solid white;
	margin: 25px 50 0 50 0;
	padding: 1em;
	-moz-border-radius: 3px;
}

#subcontainer {
   width: 600px;
   height: auto;
	background: #f0f0f0;
	border: 1px solid white;
	margin: 25px 50 0 50 0;
	padding: 1em;
	-moz-border-radius: 3px;
}

input[type=text], input[type=password] {
	display: block;
	margin: 0 0 5px 0;
	width: 280px;
	border: 1px solid #D0D0D0;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	padding: 1em;
   font-color: blue;
   height: 40px;
   line-height: 40px;
}

input[type=submit], form a, .buttonlink {
	border: solid 1px transparent;
	margin-top: 10px;
	padding: 6px 12px;
	text-decoration: none;
	font-size: 14px;
	-moz-border-radius: 4px;
	background: #348075;
	color: white;
	box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;
}

input[type=submit]:hover, form a:hover {
	background: #287368;
	cursor: pointer;
}

table.calendar {
 width: 85%;
 height: 85%;
 margin: auto;
 border-collapse: collapse;
 border-left: 1px solid #A2ADBC;
 border-right: 1px solid #A2ADBC;
 border-bottom: 1px solid #A2ADBC;
 font: normal 12px/20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
 color: #287368;
 text-align: center;
 background-color: #fff;
}

.calendar {
   font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
   font-size: 14px;
}

.calendar .days td {
	width: 80px; height: 80px; padding: 4px;
	border: 1px solid #999;
	vertical-align: top;
	background-color: #DEF;
}

.calendar .days td:hover {
	background-color: #FFF;
}

.calendar .highlight {
	font-weight: bold;
   color: #003399;
   background-color: transparent;
   font-weight: normal;
   border: none;
	text-decoration: none;
	font-size: 12px;
	-moz-border-radius: 4px;
	background: #348075;
	color: white;
}

.calendar .day_num span {
   color: #287368;
   font-weight: normal;
   text-align: right;
   display: block;
   font-size: 14px;
   padding: 2px 5px 0 0px;
}

tr {
   font-weight: bold;
}

th {
	font: bold 16px/20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #616B76;
	background: #D9E2E1;
	border-right: 1px solid #A2ADBC;
	border-bottom: 1px solid #A2ADBC;
	border-top: 1px solid #A2ADBC;
}
